<div style="margin:auto; width:800px">
<%= form_for(@usuario, :html => {:class => 'form-horizontal well'}) do |f| %>
  
  <% if @usuario.errors.any? %>
    <div class="alert alert-error">
      Ocorreram <%= pluralize(@usuario.errors.count, "erros") %> ao salvar o participante: 
      <ul>
      <% @usuario.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <fieldset>
    <legend>Participante</legend>
    <div class="control-group">
        <%= f.label :apelido , "Nome", :class => 'control-label' %>
        <div class="controls">
          <%= f.text_field :apelido , :style=> 'width:500px' %>
        </div>
    </div>
   
    <div class="control-group">
      <%= f.label :sugestao, "Sugestão de presente", :class => 'control-label' %>

      <div class="controls">
        <%= f.text_area :sugestao ,:rows => '10' , :style=> 'width:500px' %>
      </div>
    </div>
   
 

    <div class="form-actions">
        <%= f.submit "Salvar" ,:class => "btn btn-primary" %>
         <%= link_to 'Voltar', usuarios_path , :class => 'btn btn-primary', :style=> 'color:white' %>

    </div>
  </div>
</fieldset>
<% end %>
</div>